* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: white font-family: 'Courgette', cursive;
    line-height: 1;
    font-weight: 400;
    color: #f3f4f6;
    overflow-x: hidden;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 8%;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 3rem;
}

.gallery img {
    max-width: 100%;
    ;
}